@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
  body {
    background-color: #f1f5f9;
  }
  button,
  a {
    cursor: pointer;
  }
}

/* pricing toggle component */

.toggle-pricing {
  input[type='checkbox'] {
    appearance: none;
    position: relative;
    height: 30px;
    width: 60px;
    background: linear-gradient(to right bottom, #a3a8f0, #696fdd);
    border-radius: 5rem;
    opacity: 1;
    transition: opacity 0.2s ease;
    &:active {
      opacity: 0.5;
    }
    &:hover {
      cursor: pointer;
    }
  }
  input[type='checkbox']::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: #f6f6fe;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    transition: left 0.3s ease;
  }
  input[type='checkbox']:checked::after {
    left: 25%;
  }
}
